.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    float: left;
    width: 1000px;
    padding-top: 42px;
    padding-left: 100px;
}

.header-photographer{
    display: block;
    padding-top: 42px;
    padding-left: 100px;
}